.contactus__container {
    display: flex;
    flex-direction: column;
}

.contactus__cover {
    height: fit-content;
    position: fixed;
    z-index: -1; 

    .coverImg {
        position: relative;
        
        img {
            width: 100%;
            height: auto;
            opacity: 0.5; 
        }
    }
}

.contactus_header {
   display: flex;
   flex-direction: column;
   background-color: #2A2A68;
   padding: 16px;
   color: white;
   margin-top: 150px;
   position: relative;
   z-index: 1;
   align-items: center;
}

.contactus__compo{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: #2A2A68;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
h2{
        &:hover {
        font-weight: bold;
        color: blue;
        }
    }
}

.contactus__footer{
   display: flex;
   flex-direction: column;
   background-color: #2A2A68;
   padding: 20px;
   color: white;
   position: relative;
   z-index: 1;
   align-items: center;
}