@use "../../responsive" as *;

.layout {
    min-height: 100vh;
    // max-width: 1366px;
    // margin-left: auto;
    // margin-right: auto;
    // padding-left: 20px;
    // padding-right: 20px;
    display: flex;
    flex-direction: column;

    @include lg{
        max-width: 1336px;
    }

    @include md{
        max-width: 1024px;
    }

    @include sm{
        max-width: 768px;
    }

    .content {
        margin-top: 72px;
        flex: 1;
        height: calc(100vh - 72px);
    }

    .footer {
        margin-top: auto;
    }
}